{{ extend './_layouts/home.html' }}
{{ block 'title' }}{{ '設定運動項目' }}{{ /block }}
{{ block 'head' }}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<style>
    #divCarousel {
        width: 600px !important;
    }
</style>
{{ /block }}
{{ block 'body' }}
<div class="card mb-4">
    <div class="card-header py-3">
        <p>說明:<br>
            在此控管用戶透過Messenger開啟的 運動紀錄 可選擇的運動項目
        </p>
    </div>
    <div class="card-header py-3">
        <div style="display: flex;flex-direction:row;margin-bottom: 5px;" id='divCindition'>
            <div>
                <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="ddlPartitions"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        請選擇部位
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="ddlPartitions">
                        {{ each mainPartitions }}
                        <a class="dropdown-item ddlMainPartitions" href="#"
                            data-name='{{ $value.mainPartitions.name }}'>{{ $value.mainPartitions.name }}</a>
                        {{ /each }}
                    </div>
                    <span>您選擇的部位:<span style="color: red;" id='choosenPartition'></span></span>
                </div>
            </div>
            <div style="width: 50px"></div>
            <div>
                <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="ddlSubPartitions"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        請選擇子部位
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="ddlSubPartitions">

                    </div>
                    <span>您選擇的子部位:<span style="color: red;" id='choosenSubPartition'></span></span>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex;flex-direction: row">
        <div style="width: 50%; padding-left: 10px;" id='divModify'>
            <p>
                <span>器材名稱</span>
                <br>
                <input type="text" name="eqName_Modify">
                <input type="hidden" name="eqId_Modify">
            </p>
            <p>
                <span>器材圖片網址</span>
                <br>
                <input type="text" name="eqUrl_Modify">
            </p>
            <p>
                <span>器材狀態</span>
                <br>
                <select name="eqStatus_Modify">
                    <option value="1">顯示</option>
                    <option value="0">隱藏</option>                
                </select>
            </p>
            <p id='pButtons_Modify' style="display:none">
                <a id='aModify' href="#" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">修改</span>
                </a>

                <a id='aDelete' href="#" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">刪除</span>
                </a>
            </p>
        </div>
        <div style="width: 50%;padding-left: 10px;">
            aa
        </div>
    </div>
</div>
{{ /block }}
{{ block 'script' }}
<script src="/public/js/viewJs/AccountLinkingUrl.js"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src='/public/js/viewJs/Equipments.js'></script>
{{ /block }}