{{ extend './_layouts/home.html' }}
{{ block 'title' }}{{ 'FBConsole' }}{{ /block }}
{{ block 'head' }}
<link href="/public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{{ /block }}
{{ block 'body' }}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">FB Bot列表</h1>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Bot列表</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Bot名稱</th>
              <th>AccessToken</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Bot名稱</th>
              <th>AccessToken</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Bot霸特</td>
              <td>EAAgXHuY3iVsBAK55e89rxKYW6FbZ...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
{{ /block }}
{{ block 'script' }}
<!-- Page level plugins -->
<script src="/public/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/public/js/demo/datatables-demo.js"></script>
{{ /block }}